#panel1 {
    background-image: none;
    background: #d41414;
    color: white;
    border: solid;
}

#panel2 {
    background-image: none;
    background: #d41414;
    color: white;
    border: solid;
}
